@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1a202c;
  color: #e2e8f0;
}

code {
  font-family: 'Fira Code', monospace;
}